/*===========================
		COMMON css
===========================*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  font-weight: normal;
  font-style: normal;
  color: $gray;
  overflow-x: hidden;
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  @include box-shadow(none);
}

a:hover {
  color: $primary;
}
button,
a {
  @include transition(0.3s);
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.para-width-500 {
  max-width: 500px;
  width: 100%;
}

.container {
  @media #{$xs} {
    padding: 0 30px;
  }
}

/* ========== breadcrumb ============ */
.breadcrumb-wrapper {
  display: flex;
  justify-content: flex-end;

  @media #{$xs} {
    justify-content: flex-start;
  }

  .breadcrumb {
    li {
      font-size: 14px;
      color: $primary;

      a {
        color: $gray;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

/* ========== cart style ========== */
.card-style {
  background: $white;
  border: 1px solid $light;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 25px 30px;
  position: relative;

  .jvm-zoom-btn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid $black-10;
    right: 30px;
    bottom: 30px;
    cursor: pointer;

    &.jvm-zoomin {
      bottom: 70px;
    }
  }

  .dropdown-toggle {
    border: none;
    background: none;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.07));

    li {
      &:hover {
        a {
          color: $primary !important;
        }
      }

      a {
        display: block;
        font-size: 14px;
      }
    }
  }
}

/* ======= Border Radius ========= */
.radius-3 {
  border-radius: 4px;
}
.radius-10 {
  border-radius: 4px;
}
.radius-30 {
  border-radius: 30px;
}
.radius-50 {
  border-radius: 50px;
}
.radius-full {
  border-radius: 50%;
}

// scroll-top
.scroll-top {
  width: 45px;
  height: 45px;
  background: $primary;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: $white;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  @include transition(0.3s);

  &:hover {
    color: $white;
    background: rgba($primary, 0.8);
  }
}

/*===== All Preloader Style =====*/

.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: $white;
  z-index: 99999;

  & .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      margin-left: -32px;
      z-index: 18;
      pointer-events: none;

      & .spinner-container {
        pointer-events: none;
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        top: 50%;
        left: 50%;
        margin-top: -50%;
        margin-left: -50%;
        @include animation(spinner-linspin 1568.23529647ms linear infinite);

        & .spinner-rotator {
          position: absolute;
          width: 100%;
          height: 100%;
          @include animation(
            spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
          );

          & .spinner-left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            right: 50%;
          }

          & .spinner-right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            left: 50%;
          }
        }
      }
    }

    & .spinner-circle {
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 100%;
      border-style: solid;
      /* Spinner Color */
      border-color: $primary $primary $black-10;
      border-radius: 50%;
      border-width: 6px;
    }

    & .spinner-left {
      & .spinner-circle {
        left: 0;
        right: -100%;
        border-right-color: $black-10;
        @include animation(
          spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
        );
      }
    }

    & .spinner-right {
      & .spinner-circle {
        left: -100%;
        right: 0;
        border-left-color: $black-10;
        @include animation(
          right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
        );
      }
    }
  }
}

/* Preloader Animations */

@-webkit-keyframes spinner-linspin {
  to {
    @include transform(rotate(360deg));
  }
}

@keyframes spinner-linspin {
  to {
    @include transform(rotate(360deg));
  }
}

@-webkit-keyframes spinner-easespin {
  12.5% {
    @include transform(rotate(135deg));
  }

  25% {
    @include transform(rotate(270deg));
  }

  37.5% {
    @include transform(rotate(405deg));
  }

  50% {
    @include transform(rotate(540deg));
  }

  62.5% {
    @include transform(rotate(675deg));
  }

  75% {
    @include transform(rotate(810deg));
  }

  87.5% {
    @include transform(rotate(945deg));
  }

  to {
    @include transform(rotate(1080deg));
  }
}

@keyframes spinner-easespin {
  12.5% {
    @include transform(rotate(135deg));
  }

  25% {
    @include transform(rotate(270deg));
  }

  37.5% {
    @include transform(rotate(405deg));
  }

  50% {
    @include transform(rotate(540deg));
  }

  62.5% {
    @include transform(rotate(675deg));
  }

  75% {
    @include transform(rotate(810deg));
  }

  87.5% {
    @include transform(rotate(945deg));
  }

  to {
    @include transform(rotate(1080deg));
  }
}

@-webkit-keyframes spinner-left-spin {
  0% {
    @include transform(rotate(130deg));
  }

  50% {
    @include transform(rotate(-5deg));
  }

  to {
    @include transform(rotate(130deg));
  }
}

@keyframes spinner-left-spin {
  0% {
    @include transform(rotate(130deg));
  }

  50% {
    @include transform(rotate(-5deg));
  }

  to {
    @include transform(rotate(130deg));
  }
}

@-webkit-keyframes right-spin {
  0% {
    @include transform(rotate(-130deg));
  }

  50% {
    @include transform(rotate(5deg));
  }

  to {
    @include transform(rotate(-130deg));
  }
}

@keyframes right-spin {
  0% {
    @include transform(rotate(-130deg));
  }

  50% {
    @include transform(rotate(5deg));
  }

  to {
    @include transform(rotate(-130deg));
  }
}
