/* =========== tabs css ============== */

/* ==== tab style 1 ==== */
.tab-style-1 {
  nav {
    border-bottom: 1px solid $light-2;
    margin-bottom: 20px;

    button {
      border: none;
      background: transparent;
      margin-right: 40px;
      padding-bottom: 15px;
      position: relative;
      font-weight: 500;
      color: $gray;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.5px;
        width: 0;
        height: 3px;
        background: $primary;
        border-radius: 5px;
        @include transition(0.3s);
      }

      &:hover,
      &.active {
        color: $primary;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .tab-content {
    p {
      font-size: 14px;
    }
  }
}

/* ==== tab style 2 ==== */
.tab-style-2 {
  nav {
    border-bottom: 1px solid $light-2;
    margin-bottom: 20px;

    button {
      border: none;
      background: transparent;
      margin-right: 20px;
      padding: 10px 14px;
      position: relative;
      font-weight: 500;
      color: $gray;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 1px;
        background: $primary;
        border-radius: 5px;
        @include transition(0.3s);
      }

      &:hover,
      &.active {
        color: $primary;
        background: rgba($primary, 0.1);

        &::after {
          width: 100%;
        }
      }
    }
  }

  .tab-content {
    p {
      font-size: 14px;
    }
  }
}

/* ==== tab style 3 ==== */
.tab-style-3 {
  nav {
    margin-bottom: 20px;

    button {
      margin-right: 20px;
      padding: 10px 16px;
      position: relative;
      font-weight: 500;
      font-size: 16px;

      &:hover,
      &.active {
        color: $white;
        background: $primary;
      }

      @media #{$xs} {
        margin-right: 5px;
        font-size: 14px;
        padding: 8px 14px;
      }
    }
  }

  .tab-content {
    p {
      font-size: 14px;
    }
  }
}

/* ==== tab style 4 ==== */
.tab-style-4 {
  nav {
    margin-bottom: 10px;
    display: inline-flex;
    background: $light;
    padding: 6px;
    border-radius: 4px;

    button {
      margin-right: 20px;
      padding: 10px 14px;
      position: relative;
      font-weight: 500;
      border: none;
      background: transparent;
      border-radius: 4px;
      color: $gray;

      &:hover,
      &.active {
        color: $white;
        background: $primary;
      }
    }
  }

  .tab-content {
    p {
      font-size: 14px;
    }
  }
}
